img {
    max-width: 100%;
}

* { box-sizing: border-box ; }

h1 {
    font-family:cursive
}

body {
    margin: 0; /* to get rid of default margin */
    padding: 0;
    background-image: url(/images/whitebg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover; /*covers the whole page*/
    background-attachment: fixed; /*prevents image scrolling*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content:space-between; /* to push title to left and ul to right */
    padding: 1em 0; /* top and bottom, left and right */
    background-color:darkgray
}

header h1 {
    color:black;
    margin-top: 0.65em;
    margin-left: 3em;
}

header nav ul {
    list-style: none; /* no bullet list */
    display: flex;
    margin: 0;
    margin-top: 2.5em;
    padding: 0;
}

header nav ul li {
    margin-right: 4em;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
    transition: ease-in-out 0.5s;
    border-radius: 0.4em;
}

header nav ul li a:focus { /* to assist accessibility f.e through tabs*/
    text-decoration: underline;
    background-color:lightgray
}

header nav ul li a:hover { /* when hovering with mouse pointer */
    text-decoration: underline;
    background-color:lightgray
}

h2 {
    text-align: center;
    margin-top: 3em;
}

h2 + p {
    text-align: center;
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

footer {
    text-align: center;
    background-color: darkgray;
    padding: 0.5em;
    margin-top: auto; /* pushes footer to bottom */
}

.home-images img {
    width: 20em; 
    margin: 2%;
    transition: ease-in-out 0.5s;
}

.home-images:hover img {
    transform: scale(1.1); /* appears 10% larger than original size*/
}

.home-images {
    list-style-type: none;
    margin: 0.5em;
}

.home-image {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    padding: 0.5em;
    background-color:rgb(211, 211, 211)
}

.home-image-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tutorial-image-container,
.supply-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal width columns, one forth of available width */
    grid-gap: 1.25em; /* adjust gap between images */
    text-align: center;
    margin: 1.25em auto;
    max-width: 70%; /* max width of grid container so image and text arent too wide on larger screens*/
}

.tutorial-image,
.supply-image {
    max-width: 20%;
    height: auto; /* no distort when resizing */
    border: 2px;
    padding: 0.5em;
    background-color:rgb(162, 161, 161)
}

.contactinfo {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 3em;
}

section article:nth-child(odd) { /*alle oneven images this style*/
    display: flex;
    align-items: center;;
    flex-direction: row;
    background-color:gainsboro
}

section article:nth-child(odd) > p {
    margin-left: 5%;
    margin-right: 5%;
}

section article:nth-child(even) { /*alle even images this style*/
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color:lightgray
}

section article:nth-child(even) > p {
    margin-right: 5%;
    margin-left: 5%;
}

.springinspo, .summerinspo, .autumninspo, .winterinspo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4em;
}

h3 {
    text-align: center;
    display: block;
}

.springinspo img , .summerinspo img, .autumninspo img, .winterinspo img {
    max-width: 20%;
    height: auto;
}

.bold-text {
    font-weight: bold;
}